# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
# create Series 

data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# 2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

In [3]:
import pandas as pd 
data_list=[1,2,3,4,5,6,7,8,9,10]

series=pd.Series(data_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# 3.Create a Pandas DataFrame that contains the following data:Then, print the DataFrame

In [6]:
    data={
        'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
        }
    
    df=pd.DataFrame(data)
    print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In Pandas, a DataFrame is a two-dimensional labeled data structure that is commonly used for data manipulation and analysis. It is similar to a spreadsheet or a SQL table, where data is organized into rows and columns. Each column in a DataFrame can have a different data type (e.g., integer, float, string) and is essentially a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It can be thought of as a single column of data in a DataFrame. Series objects have an index that allows for fast and efficient data retrieval.


# Below is the Example demonstrating Difference between DataFrame and series

In [11]:
import pandas as pd

data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[30,20,40],
    'Gender':['female','Male','Female']
}

#creating  dataFrame
df=pd.DataFrame(data)

#printing DataFrame
print(df)

print('=======series===========')
#creating series 

series=pd.Series([10,20.5,30.5,'Alex'])
print(series)

      Name  Age  Gender
0    Alice   30  female
1      Bob   20    Male
2  Charlie   40  Female
=======series===========
0      10
1    20.5
2    30.5
3    Alex
dtype: object

# 5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() and tail(): Used to view the first or last n rows of the DataFrame.

info(): Provides a concise summary of the DataFrame including column data types and non-null counts.

describe(): Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.

loc[] and iloc[]: Used for label-based and integer-based indexing, respectively, to access specific rows and columns in the DataFrame.

drop(): Allows you to remove rows or columns from the DataFrame.

fillna(): Fills missing values (NaN) in the DataFrame with specified values.

groupby(): Groups the DataFrame by one or more columns and allows applying aggregate functions like sum, mean, count, etc.

sort_values(): Sorts the DataFrame by specified columns.

merge(): Performs database-style joins on DataFrames based on columns.

pivot_table(): Creates a spreadsheet-style pivot table based on DataFrame data.

# You can use head and tail on above Dataframe

In [13]:
df.head(2) # to see only 2 rows from top

    Name  Age  Gender
0  Alice   30  female
1    Bob   20    Male

In [15]:
df.tail(2) # last 2 rows

      Name  Age  Gender
1      Bob   20    Male
2  Charlie   40  Female

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the mutable nature refers to whether an object can be modified after it is created. Among the options provided:

1. Series: Mutable
2. DataFrame: Mutable
3. Panel: Mutable (deprecated since Pandas version 0.25.0)

Both Pandas Series and DataFrames are mutable, meaning you can modify their contents, add or remove rows and columns, update values, etc., after they are created. However, it's essential to note that Panels were deprecated in Pandas version 0.25.0 and are no longer recommended for use. Panels were three-dimensional data structures (containing data along with items and major/minor axes) and have been replaced by MultiIndex DataFrames, which provide more flexible and efficient ways to handle complex data structures.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
import pandas as pd
# create multiple series 

name_series=pd.Series(['Alice','Bob','charlie'])
age_series=pd.Series([20,30,40])
cities_series=pd.Series(['los angeles','California','Florida'])

data={
    'Name':name_series,
    'Age':age_series,
    'City':cities_series
}

#create DataFrame
df=pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   20  los angeles
1      Bob   30   California
2  charlie   40      Florida