# Q1. List any five functions of the pandas library with execution.

# 1.read_csv() -- This function is used to read a CSV file into a pandas DataFrame.

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('example.csv')

# Display the DataFrame
print(df)

head(): This function is used to display the first few rows of a DataFrame. By default, it displays the first 5 rows.

describe(): This function generates descriptive statistics of numerical columns in a DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.

groupby(): This function is used to group data in a DataFrame based on one or more columns and apply aggregate functions like sum, mean, count, etc.

fillna(): This function is used to fill missing values (NaN) in a DataFrame with specified values.

In [4]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Boston']}
df = pd.DataFrame(data)

# Display the first 3 rows of the DataFrame
print(df.head(3))

print(df.describe())

grouped_df = df.groupby('Name').mean()

print(grouped_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000
          Age
Name
Alice    25.0
Bob      30.0
Charlie  35.0
David    40.0
Emily    45.0

C:\Users\Mithilesh\AppData\Local\Temp\ipykernel_1452\3482920008.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('Name').mean()

# fillna()

In [6]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {'Name': ['Alice', 'Bob', np.nan, 'David', 'Emily'],
        'Age': [25, np.nan, 35, 40, 45],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', np.nan]}
df = pd.DataFrame(data)

# Fill missing values in 'Name' and 'City' columns with 'Unknown', and 'Age' column with the mean age
filled_df = df.fillna({'Name': 'Unknown', 'City': 'Unknown', 'Age': df['Age'].mean()})

# Display the filled DataFrame
print(filled_df)

      Name    Age         City
0    Alice  25.00     New York
1      Bob  36.25  Los Angeles
2  Unknown  35.00      Chicago
3    David  40.00      Houston
4    Emily  45.00      Unknown

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row

In [14]:
import pandas as pd 

def reindex_with_increment(df):
    # reset  the existing index and drop  the old one 
    df_reset=df.reset_index(drop=True)
    
    #create new Index
    new_index=pd.Index(range(1,2*len(df_reset)+1,2))
    
    #assign the new index to Data Frame
    df_reset.index=new_index
    
    return df_reset

#example Data frame 

data={'A':[10,20,30],
      'B':[40,50,60],
       'C':[80,90,100]
       }
       
df=pd.DataFrame(data)
print(df)


#re-indexing 
print("==========REINDEXED=============")
df_reindexed=reindex_with_increment(df)
print(df_reindexed)

    A   B    C
0  10  40   80
1  20  50   90
2  30  60  100
==========REINDEXED=============
    A   B    C
1  10  40   80
3  20  50   90
5  30  60  100

# 3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60

In [16]:
import pandas as pd 
data={'Values':[10,20,30,40,50]}
df=pd.DataFrame(data)
#print(df)

def calculate_three_numbers(df):
    value_series=df['Values']
    
    sum_first_three=value_series.head(3).sum()
    
    print('sum of the 3 values:',sum_first_three)
    
calculate_three_numbers(df)

sum of the 3 values: 60

# Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column

In [5]:
import pandas as pd

data={'Text':['This is a Sample text','Second Sentence we are Checking word counts','testing word count in python']}

df=pd.DataFrame(data)
#print(df)

def count_words(text):
    words=text.split() # split in to words
    return len(words)

df['word_count']=df['Text'].apply(count_words)

print(df)

                                          Text  word_count
0                        This is a Sample text           5
1  Second Sentence we are Checking word counts           7
2                 testing word count in python           5

# Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is calculated by multiplying the number of rows by the number of columns
The size attribute gives the count of all elements, including NaN or missing values, in the DataFrame.

DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows and the second element is the number of columns.
This attribute does not count NaN or missing values when determining the shape of the DataFrame.

# Q6. Which function of pandas do we use to read an excel file?

read_excel() is used to read an excel file

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

# The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [3]:
import pandas as pd
data={'Email':['john.doe@example.com','jane.smith@example.com','bob.jackson@example.com']}
df=pd.DataFrame(data)
def extract_username(email):
    return email.split('@')[0]

df['Username']=df['Email'].apply(lambda x:extract_username(x))

print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.jackson@example.com  bob.jackson

# 8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

# Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [8]:
import pandas as pd

data={
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
}

df=pd.DataFrame(data)
#print(df)

def selected_rows(df):
    selected_data=df[(df['A']>5) &(df['B']<10)]
    
    return selected_data

selected_df=selected_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# 9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [10]:
import pandas as pd 
data={'Value':[10,30,40,50,60]}
df=pd.DataFrame(data)

def calculate_stats(df,column_name):
    column_values = df[column_name]
    
    mean_value=column_values.mean()
    median_value=column_values.median()
    std_dev_value=column_values.std()
    
    return mean_value,median_value,std_dev_value

mean_value,median_value,std_dev_value=calculate_stats(df,'Value')

print(f"Mean:{mean_value}")
print(f"Median :{median_value}")
print(f"std_dev_value:{std_dev_value}")

Mean:38.0
Median :40.0
std_dev_value:19.235384061671343

# 10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [15]:
import pandas as pd 
data={'Date':pd.date_range('2024-01-01',periods=10),
     'Sales': [100,150,200,250,300,350,400,450,500,600]}

df=pd.DataFrame(data)
def calculate_average_moving(df,window_size=7):
    df['MovingAverage']=df['Sales'].rolling(window=window_size,min_periods=1).mean()
    
    return df
df_with_average=calculate_average_moving(df,window_size=7)
print(df_with_average)

        Date  Sales  MovingAverage
0 2024-01-01    100     100.000000
1 2024-01-02    150     125.000000
2 2024-01-03    200     150.000000
3 2024-01-04    250     175.000000
4 2024-01-05    300     200.000000
5 2024-01-06    350     225.000000
6 2024-01-07    400     250.000000
7 2024-01-08    450     300.000000
8 2024-01-09    500     350.000000
9 2024-01-10    600     407.142857

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

# For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


  Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame

In [26]:
import pandas as pd 
data={'Date':pd.date_range('2024-02-01',periods=7)}

df=pd.DataFrame(data)
#print(df)

def print_weekdays(df,date_column_name='Date',weekday_column_name='Weekday'):
    df[weekday_column_name]=df[date_column_name].dt.day_name()
    return df
df_with_weekdays=print_weekdays(df)

print(df_with_weekdays)

        Date    Weekday
0 2024-02-01   Thursday
1 2024-02-02     Friday
2 2024-02-03   Saturday
3 2024-02-04     Sunday
4 2024-02-05     Monday
5 2024-02-06    Tuesday
6 2024-02-07  Wednesday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [7]:
import pandas as pd

#creating Dataframe 
data = {'Date': pd.date_range('2024-01-01', periods=90)}
df = pd.DataFrame(data)
print(df)

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the date range based on the available data
    start_date = '2024-01-01'
    end_date = '2024-01-31'
    
    # Filter rows within the date range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

xx = select_rows_between_dates(df)
print(xx)

         Date
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-05
..        ...
85 2024-03-26
86 2024-03-27
87 2024-03-28
88 2024-03-29
89 2024-03-30

[90 rows x 1 columns]
         Date
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-05
5  2024-01-06
6  2024-01-07
7  2024-01-08
8  2024-01-09
9  2024-01-10
10 2024-01-11
11 2024-01-12
12 2024-01-13
13 2024-01-14
14 2024-01-15
15 2024-01-16
16 2024-01-17
17 2024-01-18
18 2024-01-19
19 2024-01-20
20 2024-01-21
21 2024-01-22
22 2024-01-23
23 2024-01-24
24 2024-01-25
25 2024-01-26
26 2024-01-27
27 2024-01-28
28 2024-01-29
29 2024-01-30
30 2024-01-31

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is the Pandas library itself.


**import pandas as pd**