Q1. Variables

In [1]:
a="Python" #string

In [2]:
theLIST=["PwSkills","python","career Transition","Data Analyst"]

In [3]:
b=8.69

In [4]:
theTuple=("noida","delhi","NCR")

Q2. Given are some following variables containing data

In [5]:
var1=''

In [6]:
type(var1)

str

In [7]:
var2='[DS,ML,Python]'

In [8]:
type(var2)

str

In [9]:
var3=['DS','ML','Python']
type(var3)

list

In [10]:
var=1.
type(var)

float

Q3. Explain the use of the following operators using an example:

In [11]:
# '/' is used for division 
x=10
y=2
z=x/y
print(z)

5.0

In [12]:
# '%' is used for Modulus 
x=9
y=2
z=x%y
print(z)

1

In [13]:
# '//' is used for Floor division
x=17
y=2
z=x//y
print(z)

8

In [14]:
# '**' is used for Exponential
x=17
y=2
z=x**y
print(z)

289

Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [15]:
my_List=["Hello!!, World",150,("apple","Banana","Grapes"),190.99,True]
for item in my_List:
    print(item,type(item))

Hello!!, World <class 'str'>
150 <class 'int'>
('apple', 'Banana', 'Grapes') <class 'tuple'>
190.99 <class 'float'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [16]:
def count_divisions(a, b):
    count = 0
    while a % b == 0:
        a //= b
        count += 1
    return count

# Input numbers taken by users 
number_a = int(input("Enter number A: "))
number_b = int(input("Enter number B: "))

divisions = count_divisions(number_a, number_b)

if divisions > 0:
    print(f"{number_a} is  divisible by {number_b}.")
    print(f"It can be divided {divisions} times.")
else:
    print(f"{number_a} is not divisible by {number_b}.")

Enter number A: 10
Enter number B: 5
10 is  divisible by 5.
It can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [17]:
data_list=[9,27,21,45,52,77,68,72,88,83,91,92,99,78,62,55,54,48,49,38,26,84,81,76,100]
for num in data_list:
    if num % 3==0 :
        print(f"{num} is divisible by 3")
    else:
         print(f"{num} is not divisible by 3")

9 is divisible by 3
27 is divisible by 3
21 is divisible by 3
45 is divisible by 3
52 is not divisible by 3
77 is not divisible by 3
68 is not divisible by 3
72 is divisible by 3
88 is not divisible by 3
83 is not divisible by 3
91 is not divisible by 3
92 is not divisible by 3
99 is divisible by 3
78 is divisible by 3
62 is not divisible by 3
55 is not divisible by 3
54 is divisible by 3
48 is divisible by 3
49 is not divisible by 3
38 is not divisible by 3
26 is not divisible by 3
84 is divisible by 3
81 is divisible by 3
76 is not divisible by 3
100 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this propert

In [18]:
#List, Sets, and Dictionary in Python are examples of some mutable data types in Python.
#Example :
List1=[10,20,30,40]
List1[0] # this will print the Value of index of 0
#now Change the value :
List1[0]=45
print(List1)
# hence the Value of the list Changed 
#Final Output is [45, 20, 30, 40]

[45, 20, 30, 40]

# Question no 7 , part 2 immutable data types .

In [19]:
# Now check Immutable Data types : The data types which can't be changed once created like : string , tuple
#Let's take String in this Example 
s1= 'Mithilesh'
s1[0]
s1[4] # till now we are able to Access the Alphabets from the String 
#let modify using index
s1[0]="S"

# Giving error :----> 7 s1[0]="S"
#TypeError: 'str' object does not support item assignment

# we can change Whole String . when we change the Full value of String than it's means we are Overiding the s1 Value 
# the actual value is not changed . 
#Hence it is not changeable(immutable) .

TypeError: 'str' object does not support item assignment